In [7]:
from modules.client import OffVarianceClient
from dotenv import dotenv_values

config = dotenv_values('../.env')

client = OffVarianceClient(config.get('OFF_VARIANCE_KEY'), data_path='../data')
games_df = client.get_finished_games()

In [6]:
games_df

,id,date_match,date_match_unix,time_first,time_match,team_1_id,team_1_name,team_1_goal,team_2_id,team_2_name,...,team2_away_xgpower_com_xgsumxganoindex,team2_away_xgpower_com_xgxganoindex,team2_away_xgpower_cxm_xg90,team2_away_xgpower_cxm_xga90,team2_away_xgpower_cxm_xgsubxga,team2_away_xgpower_cxm_minutes,team2_away_xgpower_cxm_xg90noindex,team2_away_xgpower_cxm_xga90noindex,team2_away_xgpower_cxm_xgsumxganoindex,team2_away_xgpower_cxm_xgxganoindex
0,85804,13.08.2016 14:30:00,1471087800,47.0,95.0,14861,Hull,2.0,6719,Leicester,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00
1,85801,13.08.2016 17:00:00,1471096800,47.0,93.0,6727,Southampton,1.0,6724,Watford,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00
2,85802,13.08.2016 17:00:00,1471096800,49.0,93.0,14855,Middlesbrough,1.0,14867,Stoke,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00
3,85805,13.08.2016 17:00:00,1471096800,47.0,93.0,6718,Everton,1.0,6713,Tottenham,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00
4,85806,13.08.2016 17:00:00,1471096800,46.0,95.0,6721,Crystal Palace,0.0,14865,West Brom,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69816,134703,12.01.2022 21:45:00,1642016700,46.0,93.0,6723,West Ham,2.0,14857,Norwich,...,2.15,0.17,0.62,3.80,0.16,199.0,0.72,4.26,4.98,0.17
69817,137668,12.01.2022 21:45:00,1642016700,49.0,97.0,36883,Crewe,2.0,26957,Charlton,...,2.84,0.19,0.00,0.00,0.00,27.0,0.00,0.00,0.00,0.00
69818,142317,13.01.2022 15:20:00,1642080000,46.0,97.0,76326,Al-Gharafa,2.0,76322,Al-Duhail,...,3.63,6.89,2.07,0.49,4.22,25.0,3.21,0.81,4.02,3.96
69819,142319,13.01.2022 15:20:00,1642080000,46.0,93.0,76329,Al Sailiya,0.0,76323,Al Arabi,...,3.61,0.40,0.65,0.52,1.25,48.0,1.01,0.86,1.87,1.17
69820,142314,13.01.2022 18:00:00,1642089600,48.0,93.0,76328,Al Wakra,4.0,76331,Al Khor,...,3.41,1.13,0.00,0.00,0.00,173.0,0.00,0.00,0.00,0.00

In [14]:
games_df.columns

Index(['id', 'date_match', 'date_match_unix', 'time_first', 'time_match',
       'team_1_id', 'team_1_name', 'team_1_goal', 'team_2_id', 'team_2_name',
       ...
       'team2_away_xgpower_com_xgsumxganoindex',
       'team2_away_xgpower_com_xgxganoindex', 'team2_away_xgpower_cxm_xg90',
       'team2_away_xgpower_cxm_xga90', 'team2_away_xgpower_cxm_xgsubxga',
       'team2_away_xgpower_cxm_minutes', 'team2_away_xgpower_cxm_xg90noindex',
       'team2_away_xgpower_cxm_xga90noindex',
       'team2_away_xgpower_cxm_xgsumxganoindex',
       'team2_away_xgpower_cxm_xgxganoindex'],
      dtype='object', length=1055)